@media print {
    body {
        -webkit-print-color-adjust:exact !important;
        print-color-adjust:exact !important;
    }

    .spin-figure,
    .gopher,
    .rustic {
        animation: none !important;
    }

    .spin-figure {
        left: 75% !important;
    }

    .rustic {
        left: 85% !important;
    }

    .gopher {
        left: 90% !important;
    }

    .main-nav {
        display: none;
    }

    .footer {
        .contacts-list li {
            width: 100% !important;

            a::after {
                content: " - " attr(href);
                display: inline;
            }
        }
    }

    .courses-list {
        display: flex !important;
    }

    .section {
        border-bottom: solid var(--page-background-color) 5px !important;

        &:last-child {
            border-bottom: 0 !important;
        }
    }

    .join-line {
        display: none !important;
    }

    .shadow_visible {
        display: none !important;
    }
}