* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

:root {
    --header-color: #333;
    --text-color: #444;
    --page-background-color: #eee;
    --content-background-color: white;
}

h1, h2, h3 {
    color: var(--header-color);
}

ol, ul {
    list-style-type: none;
}

img {
    border-radius: 10px;
}

html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--page-background-color);
    color: var(--text-color);
    min-width: 300px;
}

.header,
.section,
.footer {
    padding: 10px 20px;
    background-color: var(--content-background-color);
}

.header,
.content {
    margin-bottom: 40px;
}

.header {
    position: relative;
    overflow: hidden;
    border-bottom: 10px double var(--page-background-color);
}

.footer {
    border-top: 10px double var(--page-background-color);
    padding-bottom: 20px;
}

.section-header,
.footer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rustic {
    position: absolute;
    z-index: 1;
    bottom: -1px;
    left: -40px;
    background: url("assets/rust.png") no-repeat center;
    background-size: cover;
    width: 40px;
    height: 20px;
    animation-name: spin-figure-move, spin-animal-rotation;
    animation-duration: 5s, 1s;
    animation-timing-function: ease, linear;
    animation-iteration-count: infinite;
    animation-direction: normal, alternate-reverse;
    animation-delay: -1s;
}

.gopher {
    position: absolute;
    z-index: 1;
    bottom: -10px;
    left: -40px;
    background: url("assets/go.png") no-repeat center;
    background-size: cover;
    width: 40px;
    height: 40px;
    animation-name: spin-figure-move, spin-animal-rotation;
    animation-duration: 5s, 1s;
    animation-timing-function: ease, linear;
    animation-iteration-count: infinite;
    animation-direction: normal, alternate-reverse;
    animation-delay: -1.5s;
}

.spin-figure {
    position: absolute;
    z-index: 1;
    bottom: -10px;
    left: -40px;
    width: 40px;
    height: 40px;
    background-color: var(--page-background-color);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    animation-name: spin-figure-move, spin-figure-rotation;
    animation-duration: 5s, 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.spin-figure::after {
    content: "";
    position: absolute;
    top: calc(40px / 2 - 10px / 2);
    left: calc(40px / 2 - 10px / 2);
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--content-background-color);
}

@keyframes spin-figure-move {
    0% { 
        left: -40px;
    }   
    100% { 
        left: 100%;
    }
}

@keyframes spin-figure-rotation {
    0% { 
        transform: rotate(0deg);
    }   
    100% { 
        transform: rotate(360deg);
    }
}

@keyframes spin-animal-rotation {
    0% { 
        transform: rotate(10deg);
    }   
    100% { 
        transform: rotate(-10deg);
    }
}

.join-line {
    margin: 10px 0;
    width: 20px;
    height: 20px;
    background-color: var(--content-background-color);
    background: #eee;
    background: linear-gradient(90deg, #fff 0%, #eee 100%);
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    transform: rotate(-90deg);
}

.content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    border-left: 4px dashed var(--page-background-color);
    border-right: 4px dashed var(--page-background-color);
}

.header h1 {
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    text-align: center;
}

.section-header {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.icon {
    margin-right: 0.3rem;
}

.footer-header {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.i-am {
    border-radius: 100%;
    width: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(215, 230, 237);
    animation-name: i-am-anim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes i-am-anim {  
    0% {
        border-top-color: rgb(147, 111, 93);
    }
    25% {
        border-right-color: rgb(42, 69, 49);
    }
    50% {
        border-bottom-color: rgb(55, 54, 55);
    }
    75% { 
        border-left-color: rgb(147, 111, 93);
    }
    100% { 
        border-left-color: rgb(42, 69, 49);
    }
}

.about-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed var(--page-background-color);
}

.about-row:first-child  .about-cell {
    align-items: center;
    justify-content: center;
}

.about-row:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.about-cell {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
}

.about-cell ul {
    list-style-type: disc;
    list-style-position: inside;
}

.about-cell p {
    margin-bottom: 10px;
    text-indent: 1rem;
}

.about-cell p:last-child {
    margin-bottom: 0;
}

.section-what-now {
    background-color: var(--text-color);
    color: var(--content-background-color);
}

.section-what-now h2, 
.section-what-now h3  {
    color: var(--content-background-color);
}

.section-what-now ul {
    list-style-type: disc;
    list-style-position: inside;
}

.section-what-now p {
    margin-bottom: 10px;
}

.section-what-now p:last-child {
    margin-bottom: 0;
}

.career-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed var(--page-background-color);
}

.career-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10px;
}

.career-header > * {
    margin-top: 10px;
    margin-right: 10px;
}

.career-header > *:last-child {
    margin-right: 0;
}

.career-header img {
    height: 2rem;
}

.career-header-separator {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--page-background-color);
    border-radius: 100%;
}

.career-header,
.career-role,
.career-stack {
    margin-bottom: 10px;
}

.career-description p {
    text-indent: 1rem;
    margin-bottom: 10px;
}

.career-description p:last-child {
    margin-bottom: 0;
}

.career-wrike .career-description {
    display: flex;
    flex-direction: row;
}

.career-wrike .career-description > div {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    margin-right: 10px;
}

.career-wrike .career-description > .wrike-awards {
    width: 50%;
    height: 20%;
}

.gdg {
    width: 100%;
    margin-bottom: 10px;
}

.meetup {
    width: 100%;
}

.skills-type {
    margin-bottom: 10px;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed var(--page-background-color);
}

.skills:last-child,
.career-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.skills-item {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.skill-name {
    margin-right: 5px;
}

.skill-level {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skill-level b {
    margin-right: 0.1rem;
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid var(--text-color);
    border-radius: 100%;
}

.skill-level b:last-child {
    margin-right: 0.1rem;
}

.skill-level[data-level="1"] b:first-child {
    background-color: var(--text-color);
}

.skill-level[data-level="2"] b:first-child,
.skill-level[data-level="2"] b:nth-child(2) {
    background-color: var(--text-color);
}

.skill-level[data-level="3"] b:first-child,
.skill-level[data-level="3"] b:nth-child(2),
.skill-level[data-level="3"] b:nth-child(3) {
    background-color: var(--text-color);
}

.skill-level[data-level="4"] b:first-child,
.skill-level[data-level="4"] b:nth-child(2),
.skill-level[data-level="4"] b:nth-child(3),
.skill-level[data-level="4"] b:last-child {
    background-color: var(--text-color);
}

.courses-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px dashed var(--page-background-color);
    cursor: pointer;
}

.courses-header:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}

.courses-header-icon {
    width: 0.8rem;
    height: 0.5rem;
    margin-right: 10px;
    background: var(--text-color);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.courses-header-icon_open {
    transform: rotate(180deg);
}

.courses {
    margin-bottom: 10px;
}

.courses-list {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.courses-list_open {
    display: flex;
}

.courses-item {
    width: 49%;
}

.courses-item img {
    width: 100%;
}

.shadow {
    display: none;
    position: fixed;
    z-index: 100500;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--text-color);
    opacity: 0.3;
}

.shadow_visible {
    display: block;
}

.img-preview {
    position: fixed;
    z-index: 100501;
    width: 90% !important;
    max-height: 85% !important;
    left: 5%;
    right: 5%;
    top: 10%;
    bottom: 0;
    border: 2px solid var(--text-color);
}

.contacts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contacts-item {
    margin-top: 5px;
    margin-right: 10px;
}

@media screen and (max-width: 1024px) {
    .about-row {
        flex-direction: column !important;
    }

    .about-row:first-child  .about-cell:first-child {
        align-items: center !important;
        justify-content: center !important;
    }

    .about-row:first-child  .about-cell {
        align-items: initial !important;
        justify-content: initial !important;
    }

    .about-cell {
        width: 100% !important;
        padding: 0 !important;
        margin-bottom: 20px !important;
    }

    .about-cell:last-child {
        margin-bottom: 0 !important;
    }

    .career-wrike .career-description {
        flex-direction: column;
    }

    .career-wrike .career-description > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .career-wrike .career-description > .wrike-awards {
        width: 100%;
    }

    .courses-item img {
        cursor: pointer;
        transition-duration: 0.2s;
        transition-property: box-shadow;
        transition-timing-function: linear;
    }

    .courses-item img:hover {
        box-shadow: 0 0 5px var(--text-color);
    }

    .footer {
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .header,
    .section,
    .footer {
        padding: 20px 40px;
    }

    .content {
        padding: 0 160px;
    }

    .join-line {
        margin: 20px 0;
        width: 40px;
    }
}

@media print {
    body {
        -webkit-print-color-adjust:exact !important;
        print-color-adjust:exact !important;
    }

    .spin-figure,
    .gopher,
    .rustic {
        animation: none !important;
    }

    .contacts-item {
        width: 100% !important;
    }

    .footer a::after {
        content: " - " attr(href);
        display: inline;
    }

    .spin-figure {
        left: 75% !important;
    }

    .rustic {
        left: 85% !important;
    }

    .gopher {
        left: 90% !important;
    }

    .shadow_visible {
        display: none !important;
    }

    .courses-list {
        display: flex !important;
    }

    .join-line {
        display: none !important;
    }

    .section {
        border-bottom: solid var(--page-background-color) 5px !important;
    }

    .section:last-child {
        border-bottom: 0 !important;
    }
}