* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

:root {
    --header-color: #333;
    --text-color: #444;
    --page-background-color: #eee;
    --content-background-color: white;
}

h1, h2, h3 {
    color: var(--header-color);
}

ol, ul {
    list-style-type: none;
}

img {
    border-radius: 10px;
}

html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--page-background-color);
    color: var(--text-color);
    min-width: 300px;
}

.header,
.section,
.footer {
    padding: 10px 20px;
    background-color: var(--content-background-color);
}

.header,
.content {
    margin-bottom: 40px;
}

.header {
    position: relative;
    overflow: hidden;
    border-bottom: 10px double var(--page-background-color);
}

.footer {
    border-top: 10px double var(--page-background-color);
}

.section-header,
.footer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spin-figure {
    position: absolute;
    z-index: 1;
    bottom: -10px;
    left: -40px;
    width: 40px;
    height: 40px;
    background-color: var(--page-background-color);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    animation-name: spin-figure-move, spin-figure-rotation;
    animation-duration: 5s, 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.spin-figure::after {
    content: "";
    position: absolute;
    top: calc(40px / 2 - 10px / 2);
    left: calc(40px / 2 - 10px / 2);
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--content-background-color);
}

@keyframes spin-figure-move {
    0% { 
        left: -40px;
    }   
    100% { 
        left: 100%;
    }
}

@keyframes spin-figure-rotation {
    0% { 
        transform: rotate(0deg);
    }   
    100% { 
        transform: rotate(360deg);
    }
}

.join-line {
    margin: 10px 0;
    width: 20px;
    height: 10px;
    background-color: var(--content-background-color);
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    transform: rotate(-90deg);
}

.content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    border-left: 4px dashed var(--page-background-color);
    border-right: 4px dashed var(--page-background-color);
}

.header h1 {
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    text-align: center;
}

.section-header {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.icon {
    margin-right: 0.3rem;
}

.footer-header {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.career-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed var(--page-background-color);
}

.career-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10px;
}

.career-header > * {
    margin-top: 10px;
    margin-right: 10px;
}

.career-header > *:last-child {
    margin-right: 0;
}

.career-header img {
    height: 2rem;
}

.career-header-separator {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--page-background-color);
    border-radius: 100%;
}

.career-header,
.career-role,
.career-stack {
    margin-bottom: 10px;
}

.career-wrike .career-description {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.career-wrike .career-description > p {
    display: flex;
    flex-direction: column;
    width: calc(60% - 10px);
    margin-right: 10px;
}

.career-wrike .career-description > p > span {
    margin-bottom: 5px;
}

.career-wrike .career-description > img {
    width: 40%;
    height: 20%;
}

.gdg {
    width: 100%;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed var(--page-background-color);
}

.skills:last-child,
.career-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.skills-item {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.skill-name {
    margin-right: 5px;
}

.skill-level {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skill-level b {
    margin-right: 0.1rem;
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid var(--text-color);
    border-radius: 100%;
}

.skill-level b:last-child {
    margin-right: 0.1rem;
}

.skill-level[data-level="1"] b:first-child {
    background-color: var(--text-color);
}

.skill-level[data-level="2"] b:first-child,
.skill-level[data-level="2"] b:nth-child(2) {
    background-color: var(--text-color);
}

.skill-level[data-level="3"] b:first-child,
.skill-level[data-level="3"] b:nth-child(2),
.skill-level[data-level="3"] b:nth-child(3) {
    background-color: var(--text-color);
}

.skill-level[data-level="4"] b:first-child,
.skill-level[data-level="4"] b:nth-child(2),
.skill-level[data-level="4"] b:nth-child(3),
.skill-level[data-level="4"] b:last-child {
    background-color: var(--text-color);
}

.courses-header,
.olympiads-header,
.interests-header {
    margin-bottom: 10px;
}

.courses {
    margin-bottom: 10px;
}

.courses-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.courses-item {
    width: 45%;
}

.courses-item img {
    width: 100%;
}

.olympiads-images {
    display: flex;
    flex-direction: row;
}

.olympiads-images img:first-child {
    margin-right: 10px;
    width: calc(50% - 10px);
}

.olympiads-images img:last-child {
    margin-right: 0;
    width: 30%;
}

.olympiads p {
    margin-top: 5px;
}

.interests-images {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.interests-images img:first-child {
    margin-right: 10px;
    width: calc(30% - 10px);
}

.interests-images img:last-child {
    width: 70%;
}

.interests-item {
    margin-top: 10px;
}

.interests-item:first-child {
    margin-top: 0;
}

.interests-item-multimedia p,
.interests-item-drive p {
    margin-bottom: 5px;
}

.interests-item {
    display: flex;
    flex-direction: column;
}

.contacts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contacts-item {
    margin-top: 5px;
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .header,
    .section,
    .footer {
        padding: 20px 40px;
    }

    .content {
        padding: 0 160px;
    }

    .join-line {
        margin: 20px 0;
        width: 40px;
        height: 20px;
    }
}