.career-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed var(--page-background-color);
}

.career-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10px;
}

.career-header > * {
    margin-top: 10px;
    margin-right: 10px;
}

.career-header > *:last-child {
    margin-right: 0;
}

.career-header img {
    height: 2rem;
}

.career-header-separator {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--page-background-color);
    border-radius: 100%;
}

.career-header,
.career-role,
.career-stack {
    margin-bottom: 10px;
}

.career-description p {
    text-indent: 1rem;
    margin-bottom: 10px;
}

.career-description p:last-child {
    margin-bottom: 0;
}

.career-wrike .career-description {
    display: flex;
    flex-direction: row;
}

.career-wrike .career-description > div {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    margin-right: 10px;
}

.career-wrike .career-description > .wrike-awards {
    width: 50%;
    height: 20%;
}

.gdg {
    width: 100%;
}

.meetup {
    width: 100%;
    margin-bottom: 10px;
}
