
.courses-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px dashed var(--page-background-color);
    cursor: pointer;
}

.courses-header:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}

.courses-header-icon {
    width: 0.8rem;
    height: 0.5rem;
    margin-right: 10px;
    background: var(--text-color);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.courses-header-icon_open {
    transform: rotate(180deg);
}
.courses {
    margin-bottom: 10px;
}

.courses-list {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.courses-list_open {
    display: flex;
}

.courses-item {
    width: 49%;
}

.courses-item img {
    width: 100%;
}
