.my-tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

.my-tools-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px var(--text-color) solid;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.my-tools-item:last-child {
    margin-right: 0;
}

.my-tools-item:has(.lang-icon-c) {
    border-left-color: rgb(100, 154, 211);
    border-top-color: rgb(100, 154, 211);
    border-right-color: rgb(0, 68, 130);
    border-bottom-color: rgb(0, 68, 130);
    background-color: rgba(100, 154, 211, 0.1);
}

.my-tools-item:has(.lang-icon-go) {
    border-left-color: rgb(105, 215, 226);
    border-top-color: rgb(105, 215, 226);
    border-right-color: rgb(105, 215, 226);
    border-bottom-color: rgb(105, 215, 226);
    background-color: rgba(105, 215, 226, 0.1);
}

.my-tools-item:has(.lang-icon-rust) {
    border-left-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
}

.my-tools-item:has(.lang-icon-python) {
    border-left-color: rgb(58, 118, 170);
    border-top-color: rgb(58, 118, 170);
    border-right-color: rgb(255, 217, 76);
    border-bottom-color: rgb(255, 217, 76);
    background-color: rgba(255, 217, 76, 0.1);
}

.my-tools-item:has(.lang-icon-dart) {
    border-left-color: rgb(64, 196, 255);
    border-top-color: rgb(64, 196, 255);
    border-right-color: rgb(3, 88, 155);
    border-bottom-color: rgb(3, 88, 155);
    background-color: rgb(64, 196, 255, 0.1);
}

.my-tools-item:has(.lang-icon-node) {
    border-left-color: rgb(139, 197, 1);
    border-top-color: rgb(139, 197, 1);
    border-right-color: rgb(139, 197, 1);
    border-bottom-color: rgb(139, 197, 1);
    background-color: rgba(139, 197, 1, 0.1);
}
