.header-bottom {
    margin-top: 10px;
}

.header-bottom .nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.nav .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.nav .nav-item:last-child {
    margin-right: 0;
}

.nav .nav-item a {
    display: block;
    margin-right: 10px;
}

.nav .nav-item::after {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--page-background-color);
    border-radius: 100%;
}

.nav .nav-item:last-child::after {
    display: none;
}

