.skills-type {
    margin-bottom: 10px;
}

.skills,
.subskills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -5px;
    margin-bottom: 10px;
}

.skills {
    padding-bottom: 10px;
    border-bottom: 2px dashed var(--page-background-color);
}

.skills_col {
    flex-direction: column;
}

.skills h4 {
    padding-top: 5px;
}

.skills li:last-child .subskills {
    margin-bottom: 0;
}

.skills:last-child,
.career-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.skills-item {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 5px;
    color: black;
}

.skill_backend {
    background: rgb(134, 184, 249);
    border-color: rgb(134, 184, 249);
}

.skill_dart {
    background: rgb(173, 225, 217);
    border-color: rgb(173, 225, 217);
}

.skill_go {
    background: rgb(141, 209, 230);
    border-color: rgb(141, 209, 230);
}

.skill_libs {
    background: rgb(182, 174, 249);
    border-color: rgb(182, 174, 249);
}

.skill_soft {
    background: rgb(239, 178, 230);
    border-color: rgb(239, 178, 230);
}

.skill_apps {
    background: rgb(202, 228, 144);
    border-color: rgb(202, 228, 144);
}

.skill_tools {
    background: rgb(239, 190, 100);
    border-color: rgb(239, 190, 100);
}

.skill_lang {
    background: black;
    border-color: black;
    color: white;
}

.skill-name {
    margin-right: 5px;
}

.skill-level {
    /* display: flex; эксперимент с цветами */
    display: none;
    flex-direction: row;
    align-items: center;
}

.skill-level b {
    margin-right: 0.1rem;
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid var(--text-color);
    border-radius: 100%;
}

.skill-level b:last-child {
    margin-right: 0.1rem;
}

.skill-level[data-level="1"] b:first-child {
    background-color: var(--text-color);
}

.skill-level[data-level="2"] b:first-child,
.skill-level[data-level="2"] b:nth-child(2) {
    background-color: var(--text-color);
}

.skill-level[data-level="3"] b:first-child,
.skill-level[data-level="3"] b:nth-child(2),
.skill-level[data-level="3"] b:nth-child(3) {
    background-color: var(--text-color);
}