@media print {
    body {
        -webkit-print-color-adjust:exact !important;
        print-color-adjust:exact !important;
    }

    h1 {
        background-color: initial !important;
    }

    h2 {
        display: none;
    }

    .header,
    .content {
        margin-bottom: 0;
    }

    .spin-figure,
    .gopher,
    .rustic {
        animation: none !important;
    }

    .spin-figure {
        left: 75% !important;
    }

    .rustic {
        left: 85% !important;
    }

    .gopher {
        left: 90% !important;
    }

    .gdg, 
    .meetup, 
    .wrike-awards,
    .old-school-kringe img,
    .courses-list img {
        display: none !important;
    }

    .hide-for-print {
        display: none !important;
    }

    .about-cell.single-line-print {
        width: 100% !important;

        & + .about-cell {
            display: none !important;
        }
    }

    .career-wrike .single-line-print {
        width: 100% !important;

        & + img {
            display: none !important;
        }
    }

    .header-footer{
        display: none;
    }

    .footer {
        .contacts-list li {
            width: 100% !important;

            a::after {
                content: " - " attr(href);
                display: inline;
            }
        }
    }

    .section-what-now {
        background-color: var(--content-background-color) !important;
        color: var(--text-color) !important;

        h2,
        h2 a,
        h3 {
            color: var(--text-color) !important;
        }
    }

    .coursera a,
    .stepik a {
        display: none !important;
    }

    .coursera::before {
        content: "Coursera: ";
        display: inline-block;
    }

    .stepik::before {
        content: "Stepik: ";
        display: inline-block;
    }

    .courses-list {
        display: flex !important;
    }

    .courses-header-icon {
        display: none;
    }

    .section {
        border-bottom: solid var(--page-background-color) 5px !important;

        &:last-child {
            border-bottom: 0 !important;
        }
    }

    .join-line {
        display: none !important;
    }

    .shadow_visible {
        display: none !important;
    }
}