.courses-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px dashed var(--page-background-color);
    cursor: pointer;

    &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
    }

    &-icon {
        width: 0.8rem;
        height: 0.5rem;
        margin-right: 10px;
        background: var(--text-color);
        clip-path: polygon(50% 100%, 0 0, 100% 0);

        &_open {
            transform: rotate(180deg);
        }
    }
}

.courses {
    margin-bottom: 10px;

    &-list {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
        &_open {
            display: flex;
        }

        li {
            width: 49%;

            img {
                width: 100%;

                &.img-preview {
                    position: fixed;
                    z-index: 100501;
                    width: 90% !important;
                    max-height: 85% !important;
                    left: 5%;
                    right: 5%;
                    top: 10%;
                    bottom: 0;
                    border: 2px solid var(--text-color);
                }
            }
        }
    }
}
