* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

:root {
    --header-color: #333;
    --text-color: #444;
    --page-background-color: #eee;
    --content-background-color: white;
}

a { 
    color: #4f8cb0;
}

h1, h2, h3 {
    color: var(--header-color);
}

h3 {
    font-size: 1.1rem;
}

ol, ul {
    list-style-type: none;
}

img {
    border-radius: 10px;
}

html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--page-background-color);
    color: var(--text-color);
    min-width: 300px;
}

.icon {
    margin-right: 0.3rem;
}

.header,
.section,
.footer {
    padding: 10px 20px;
    background-color: var(--content-background-color);
}

.header,
.content {
    margin-bottom: 40px;
}

.header {
    position: relative;
    overflow: hidden;
    border-bottom: 10px double var(--page-background-color);
}

.header h1 {
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5px;
    background-color: var(--page-background-color);
    padding: 5px 0;
}

.header h2 {
    text-align: center;
    font-size: 1.2rem;
}

.spin-figure {
    position: absolute;
    z-index: 1;
    bottom: -10px;
    left: -40px;
    width: 40px;
    height: 40px;
    background-color: var(--page-background-color);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    animation-name: spin-figure-move, spin-figure-rotation;
    animation-duration: 5s, 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.spin-figure::after {
    content: "";
    position: absolute;
    top: calc(40px / 2 - 10px / 2);
    left: calc(40px / 2 - 10px / 2);
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--content-background-color);
}

.firstImg {
    position: absolute;
    z-index: 1;
    bottom: -1px;
    left: -40px;
    background: url({{header.animations.firstImgPath}}) no-repeat center;
    background-size: cover;
    width: 40px;
    height: 20px;
    animation-name: spin-figure-move, spin-animal-rotation;
    animation-duration: 5s, 1s;
    animation-timing-function: ease, linear;
    animation-iteration-count: infinite;
    animation-direction: normal, alternate-reverse;
    animation-delay: -1s;
}

.secondImg {
    position: absolute;
    z-index: 1;
    bottom: -10px;
    left: -40px;
    background: url({{header.animations.secondImg}}) no-repeat center;
    background-size: cover;
    width: 40px;
    height: 40px;
    animation-name: spin-figure-move, spin-animal-rotation;
    animation-duration: 5s, 1s;
    animation-timing-function: ease, linear;
    animation-iteration-count: infinite;
    animation-direction: normal, alternate-reverse;
    animation-delay: -1.5s;
}

@keyframes spin-figure-move {
    0% { 
        left: -40px;
    }   
    100% { 
        left: 100%;
    }
}

@keyframes spin-figure-rotation {
    0% { 
        transform: rotate(0deg);
    }   
    100% { 
        transform: rotate(360deg);
    }
}

@keyframes spin-animal-rotation {
    0% { 
        transform: rotate(10deg);
    }   
    100% { 
        transform: rotate(-10deg);
    }
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.main-nav li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav li:last-child::after {
    display: none;
} 

.main-nav li::after {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--page-background-color);
    border-radius: 100%;
}

.main-nav li a {
    display: block;
    margin-right: 10px;
}


.footer {
    border-top: 10px double var(--page-background-color);
}

.footer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.footer-header a {
    color: var(--header-color);
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 10px;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts-header {
    margin-bottom: 5px;
    font-size: 1rem;
}

.contacts-header a {
    font-weight: normal;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contacts-list li {
    margin-bottom: 5px;
}

.contacts-list li:last-child {
    margin-bottom: 0;
}

.join-line {
    margin: 10px 0;
    width: 20px;
    height: 20px;
    background-color: var(--content-background-color);
    background: #eee;
    background: linear-gradient(90deg, #fff 0%, #eee 100%);
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    transform: rotate(-90deg);
}

.post {
    background-color: green;
}

.loader {
    margin: 10px 0;
    width: 20px;
    height: 20px;
    background-color: var(--content-background-color);
    background: green;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    transform: rotate(-90deg);
}

@media screen and (max-width: 768px) {
    .main-nav {
        justify-content: space-around !important;
    }

    .main-nav li {
        align-items: start !important;
        margin-right: 0px !important;
    }

    .main-nav li::after {
        display: none !important;
        content: none !important;
    }

    .main-nav li a {
        margin-right: 0 !important;
    }
}

@media screen and (min-width: 1024px) {
    .header,
    .section,
    .footer {
        padding: 20px 40px;
    }

    .content {
        padding: 0 160px;
    }

    .join-line {
        margin: 20px 0;
        width: 40px;
    }
}